body {
  background-image: url("https://cdn.discordapp.com/attachments/655281457849434113/655281516162711557/Sky.jpg");
  color: white;
}

body {
  color: white;
}

a {
  color: white;
}

img{
	position:absolute; 
	right:0;
	top:0;
}